*

!.gitignore
!.profile
!.bashrc
!.path
!.zshrc
!.p10k.zsh

!.backup/
!.backup/*
!.backup/sources.list.d/
!.backup/sources.list.d/*

!.ssh/
!.ssh/config

!.vnc/
!.vnc/xstartup

!.putty/
!.putty/**/*

!.vscode/
!.vscode/extensions/
!.vscode/extensions/extensions.json

!.config/

!.config/Code/
!.config/Code/User/
!.config/Code/User/settings.json

!.config/bspwm/
!.config/bspwm/bspwmrc
!.config/bspwm/scripts/
!.config/bspwm/scripts/monitor.sh

!.config/dunst/
!.config/dunst/dunstrc

!.config/kitty/
!.config/kitty/kitty.conf

!.config/polybar/
!.config/polybar/config.ini
!.config/polybar/polybar.launch.sh
!.config/polybar/scripts/
!.config/polybar/scripts/polybar-now-playing

!.config/poshthemes/
!.config/poshthemes/my_theme.omp.json
!.config/poshthemes/tokyo.omp.json

!.config/ranger/
!.config/ranger/rc.conf

!.config/rofi/
!.config/rofi/config.rasi
!.config/rofi/remote.sh
!.config/rofi/remote/
!.config/rofi/remote/fpgaserver
!.config/rofi/remote/tutelfpga
!.config/rofi/remote/tutelserver1
!.config/rofi/remote/tutelserver2
!.config/rofi/remote/tutelserver3
!.config/rofi/remote/tutelserver4
!.config/rofi/remote/tutelserver5

!.config/sxhkd/
!.config/sxhkd/sxhkdrc

!.config/terminator/
!.config/terminator/config
!.config/terminator/layout.yaml

!.local/
!.local/bin/
!.local/bin/jtagdriverreset
!.local/bin/legion-kb-rgb
!.local/bin/change-backlight
!.local/bin/ssh_yonca
!.local/bin/ssh_yonca_soc

dotfiles
