configuration {
 modi: "drun,combi,ssh,vnc:~/.config/rofi/remote.sh,run";
 font: "Hack Nerd Font 13";
 combi-modi: "drun,ssh,vnc,run";
 show-icons: true;
 matching: "fuzzy";
 tokenize: true;
 icon-theme: "Papirus";
 display-drun:"";
 display-run:"run";
 display-ssh:"ssh";
 display-vnc:"vnc";
 }
//@theme "~/.config/rofi/rofi_theme.rasi"
@theme "/usr/share/rofi/themes/android_notification.rasi"
