configuration {
 modi: "drun,combi,ssh,vnc:~/.config/rofi/remote.sh,run";
 font: "JetBrainsMono Nerd Font 12";
 combi-modi: "drun,ssh,vnc,run";
 show-icons: true;
 matching: "fuzzy";
 tokenize: true;
 icon-theme: "Papirus";
 display-drun:"";
 display-run:"run";
 display-ssh:"ssh";
 display-vnc:"vnc";
 }
//@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"
@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
